.root.midiInOut.focus .tab-header-background {
    -fx-background-color: linear-gradient(to right, #0000FF, #FF7F00);
}

.root.midiInOut.connectedSender .tab-header-background {
    -fx-background-color: #0000FF;
}

.root.midiInOut.connectedReceiver .tab-header-background {
    -fx-background-color: #FF7F00;
}

.combo-box-popup .list-cell:disabled  {
    -fx-opacity: 0.4;
}

.list-cell:disabled  {
    -fx-opacity: 0.4;
}

ControlUi, ProjectUi {
    -fx-background-color: black;
}

ControlUi .logoText, ProjectUi .logoText {
    -fx-text-fill: aqua;
}

ControlUi .version  {
    -fx-text-fill: #00aaaa;
}

HBox.canvasContainer {
    -fx-padding: 5px;
    -fx-border-width: 2px;
}
SequencerUi .stepIndicator {
    -fx-text-fill: lightgrey;
}
SequencerUi .stepIndicator.active {
    -fx-text-fill: red;
}
MidiClockUi .position {
    -fx-background-color: black;
}
MidiClockUi .position Label {
    -fx-text-fill: aqua;
}
Label.numberFeedback {
    -fx-text-fill: aqua;
    -fx-border-color: darkcyan;
    -fx-background-color: black; 
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.3) , 5, 0.1 , 2 , 2 );
}
.instrument {
    -fx-background-color: black,darkgrey,black,darkgrey;
}